/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');

/* General */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
a{
    text-decoration: none;
}
ul{
  list-style: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Heading Section */
#heading{
    background-color:#003366;
    background-image: url(./images/testing-desert-orange-blue2.png); 
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 5;
}
#heading .name{
    z-index: 6;
}
#heading::after{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 3;
}
#heading .heading{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#heading .stars{
    z-index: 5;
}
#heading h1{
    display: bloc;
    width: fit-content;
    font-size: 6rem;
    position: relative;
    color: transparent;
    animation: text_reveal 1s ease forwards;
    letter-spacing: 2px;
    animation-delay: 1s;
}
#heading h1:nth-child(1){
    animation-delay: 1s;
}
#heading h1:nth-child(2){
    animation-delay: 2s;
}
#heading h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
}
#heading h1:nth-child(1) span{
    animation-delay: .5s;
}
#heading h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#heading .cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-size: 2rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: 0.3s ease;
    transition-property: background-color, color;
    z-index: 4;   
}
#heading .cta:hover{
    color: #003366;
    font-weight: bold;
    background-color: white;
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
/* Particle JS Stars!! */
#particles-js {
    top:0;
    right:0;
    position: absolute;
    width: 100%;
    height: 60%;
    z-index: 2;
  }

/* Scrollbar Remove */
::-webkit-scrollbar {
    display:none;
}

/* Navigation Bars */
.et-hero-tabs,
.page-section {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 100vh;
  position: relative;
  background: white;
  text-align: center;
  padding: 0 2em;
  /* padding: 50px; */
}
#tab-other{
  background: rgb(233,238,238);
  height: 88vh;
}
#tab-skills{
  background: rgb(233,238,238);
}
#tab-projects{
  top:0px;
}
.heading h1,
.page-section h1 {
  font-size: 3rem;
  margin: 0;
  letter-spacing: 1rem;
  color: rgba(13,19,34, 0.95);
}
.heading h3,
.page-section h3 {
  font-size: 1.8rem;
  /* letter-spacing: 0.3rem; */
  opacity: 0.6;
  color: black;
}

.et-hero-tabs-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  /* Im not sure if I want the below code to be there lol */
  text-shadow: 2px 2px 32px black;
  
  background: rgba(13,19,34, 0);
  z-index: 10;
}
.et-hero-tabs-container--top {
  background: rgba(13,19,34, 0.95);
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  position: fixed;
  top: 0;
}
.et-hero-tab {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-flex: 1;
          flex: 1;
  color: white;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 1.6rem;
}
.et-hero-tab:hover {
  color: white;
  background: rgba(226, 45, 81, 0.8);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 5px;
  background: crimson;
  -webkit-transition: left 0.2s ease;
  transition: left 0.2s ease;
}
/* @media (min-width: 800px) {
  .heading h1,
  .page-section h1 {
    font-size: 3rem;
  }
  .heading h3,
  .page-section h3 {
    font-size: 1rem;
  }

  .et-hero-tab {
    font-size: 1.5rem;
  }
} */

/* Projects page */
.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 60px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
  /* font-family: roboto; */
  text-align: center;
  min-width: 300px;
  max-width: 300px;
}
.card-image {
  grid-area: image;
}
.card-text {
  grid-area: text;
}
.card-stats {
  grid-area: stats; 
}
.card-image {
  grid-area: image;
  background: url("./images/postmint.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
/* Postmint */
.postmint-image{
  grid-area: image;
  background: url("./images/postmint.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
/* Contextr */
.contextr-image{
  grid-area: image;
  background: url("./images/contextr3.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
#contextr-stats{
  background: linear-gradient(315deg, rgba(201,156,156,1) 0%, rgba(135,122,176,1) 85%);
}
/* Grassroots */
.grassroots-image{
  grid-area: image;
  background: url("./images/grassroots.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
#grassroots-stats{
  background:rgb(0,128,55);
}
/* Safeguard Seattle */
.safeguard-image{
  grid-area: image;
  background: url("./images/safeguardseattle.jpeg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
#safeguard-stats{
  background: rgb(16,16,16);
}
/* Educe */
.educe-image{
  grid-area: image;
  background: url("./images/educe.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
#educe-stats{
  background: rgb(255,189,88);
}
/* Wildfirewatch */
.fire-image{
  grid-area: image;
  background: url("./images/wildfire.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
#fire-stats{
  background: #FF5757;
}
/* Mindfull */
.mindfull-image{
  grid-area: image;
  background: url("./images/mindfull.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
#mindfull-stats{
  background: rgb(0,74,173);
}
/* Novus */
.novus-image{
  grid-area: image;
  background: url("./images/novusintium.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
#novus-stats{
 background: #5271FF;
}
.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:24px;
}
.card-stats {
  grid-area: stats; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background:rgb(84,84,84);
}
.card-stats .stat {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding:10px;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.card {
  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
}

/* Carousel bsbs */
.glider-contain{
  width: 85% !important;
  bottom: 0;
}
.glider-next{
  right: -20px;
  top:50%
}
.glider-prev{
  left: -20px;
  top:50%;
}



/* Contact Page */
*:focus, *:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: flex;
}
a{
  text-decoration: none;
  color: black;
}
.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 35px;
  margin: 50px;
  width: 100px;
  height: 100px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}
.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}
@media (max-width: 800px){
  .wrapper{
    flex-direction: column;
    
  }
  .wrapper .icon{
    margin: 9px;
  }
  .card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 60px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    /* font-family: roboto; */
    text-align: center;
    min-width: 300px;
    max-width: 300px;
  }
}

/* Footer */
.foot{
  width: 100%;
  text-align: center;
  /* background-color: rgba(226, 45, 81, 0.8); */
  /* background-color: rgb(233,238,238); */
  background-color:white;
  padding: 2rem 0;
  position: relative;
  color:black;
}